.events {
  position: relative;
  padding: 25px;
}

/* .events::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 25px 25px 50px 0 rgb(26, 26, 26) inset,
    -25px -25px 50px 0 rgb(26, 26, 26) inset;
  background-image: url("https://wallpapercave.com/wp/opvBzup.jpg");
  background-size: cover;
  z-index: -1;
  border-radius: 6px;
} */

.events__title-container {
  background-image: url("https://149545716.v2.pressablecdn.com/wp-content/uploads/2019/10/spooky-banner.jpg");
  padding: 50px 0;
  box-shadow: 25px 25px 100px 0 rgb(29, 29, 29) inset,
    -25px -25px 100px 0 rgb(29, 29, 29) inset;
}

.events__title {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.events__list {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.4); */
}
/*
.events__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/02/17/257977/27caff749f0b2e964eb18732b8602adb.jpg");
  opacity: 0.7;
  background-size: cover;
  z-index: -1;
} */
