.tickets {
  font-size: 24px;
}

.tickets__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickets__details {
  border: 1px solid white;
  padding: 36px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(70, 60, 60);
  width: 300px;
}

.tickets__label {
  display: block;
}

.tickets__name {
  margin-top: 0;
}

.tickets__buttons {
  display: flex;
  justify-content: space-between;
}

.tickets__description {
  min-height: 100px;
}

.tickets__label {
  display: block;
}

.tickets__name {
  margin-top: 0;
}

.tickets__buttons {
  display: flex;
  justify-content: space-between;
}

.tickets__description {
  min-height: 100px;
}

.tickets__cart {
  border: 1px solid white;
  padding: 15px;
  border-radius: 15px;
  padding: 36px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(70, 60, 60);
}

.tickets__title {
  margin-top: 0;
}

.tickets__list {
  min-height: 300px;
}

.tickets__info {
}

.ticket {
  display: flex;
}

.ticket__remove-button {
  background-image: url(../images/close-button.svg);
  height: 26px;
  width: 26px;
  background-color: transparent;
  border: none;
}

.tickets__title {
  margin-top: 0;
}

.tickets__list {
  min-height: 300px;
}

.tickets__info {
}

.ticket {
  display: flex;
}

.ticket__remove-button {
  background-image: url(../images/close-button.svg);
  height: 26px;
  width: 26px;
  background-color: transparent;
  border: none;
}
