.tickets {
  font-size: 24px;
}

.tickets__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickets__details {
  border: 1px solid white;
  padding: 15px;
  border-radius: 15px;
}

.tickets__label {
  display: block;
}

.tickets__cart {
  border: 1px solid white;
  padding: 15px;
  border-radius: 15px;
  min-width: 435px;
}

.tickets__title {
}

.tickets__list {
  min-height: 300px;
}

.tickets__ticket {
}
